header {
    text-align: center;
    background-color: green;
    color: white;
}

.modal-btn {
    background-color: green;
    color: white;
}

.due-today {
    background-color: lightyellow;
}

.past-due {
    background-color: lightcoral;
}
